@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@100;400;700&display=swap');

$main-color: #a760e9;
$secondary-color-gray-1: #eff4fb;
$secondary-color-gray-2: #d6dae5;
$secondary-color-dark: #232323;
$secondary-color-white: #fff;

$font-weight-bold: Pretendard-Bold;
$font-weight-Regular: Pretendard-Regular;
$font-weight-Thin: Pretendard-Thin;

$box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.05);
$font-default: Pretendard-Regular, 'Noto Sans KR', sans-serif;

$layout-padding: 30px 20px;
