$main-color: #a760e9;
$secondary-color-gray-1: #eff4fb;
$secondary-color-gray-2: #d6dae5;
$secondary-color-dark: #232323;
$secondary-color-white: #fff;

$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo,
  sans-serif;

$layout-padding: 30px 20px;
