$main-color : #A760E9;

$bg-color-shadow : #EFF4FB;

$font-color-dark : #232323;
$font-color-white : #fff;
$font-color-gray : #D6DAE5;
$font-color-gray : #D6DAE5;

$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
