.global-modal {
  @include dim();
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.global-toast {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
