.todo-list-item {
  width: 100%;
  border: 1px solid $secondary-color-gray-2;
  display: flex;
  align-items: center;
  border-radius: 5px;

  @include commonboxStyle;
  box-shadow: none;
  padding: 20px;

  .common-checkbox {
    margin-right: 20px;
  }

  .todo-item-area {
    width: 100%;
    .todo-item-content-area {
      display: flex;
      justify-content: space-between;
    }
  }

  .todo-item-content {
    .title {
      @include fontfamily($font-weight-bold);
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 10px;
    }

    .content {
      font-size: 16px;
      line-height: 19px;
      color: $secondary-color-gray-3;
    }
  }

  .todo-item-buttons {
    opacity: 0;
    visibility: hidden;

    font-size: 14px;
    .edit-buttons {
      position: relative;
      padding-right: 11px;
      color: $secondary-color-white;
      &::after {
        content: '';
        width: 1px;
        height: 15px;
        background: $secondary-color-white;
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .delete-buttons {
      padding-left: 10px;
      color: $secondary-color-white;

      &:hover {
        color: red;
      }
    }
  }

  .todo-item-tag-area {
    margin-top: 20px;
  }
}
