.header-area {
  margin-bottom: 25px;
  .today-area {
    text-align: right;
    font-size: 35px;
    line-height: 41.02px;
    color: $secondary-color-dark;

    .today-title {
      text-transform: capitalize;
      @include fontfamily($font-weight-Thin);
    }

    .today {
      @include fontfamily($font-weight-bold);
    }
  }

  .task-progress-area {
    text-align: left;
    display: flex;
    flex-direction: column;

    .progress-label {
      font-size: 20px;
      @include fontfamily($font-weight-Thin);
      line-height: 23.44px;
      color: $secondary-color-dark;
      margin-bottom: 10px;
    }
  }
}
