.tag-area {
  display: flex;
  align-items: center;
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .tag-title {
    font-style: 20px;
    text-transform: uppercase;
    @include fontfamily($font-weight-bold);
    margin-right: 15px;
  }

  .create-tag-area {
    display: flex;
    align-items: center;
    width: 100%;

    .create-tag-inputs {
      display: flex;
      align-items: center;
      #tag-text {
        min-width: 154px;
        @include commonboxStyle();
        margin: 0 10px 10px 0;
        padding-right: 40px;
        width: 150px;
        &:focus {
          outline: none;
        }
      }

      #tag-IcoColor {
        margin: 0 10px 10px -45px;
        height: 33px;
        background: none;
        width: 30px;
      }

      button {
        line-height: 1;
        @include commonboxStyle($secondary-color-white, $secondary-color-dark);
        padding: 0 10px;
        height: 30px;
        margin-left: 10px;
        width: 50px;
      }
    }

    .create-tag {
      @include commonboxStyle($secondary-color-white, $secondary-color-gray-2);
      padding: 0;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
